@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400;700&display=swap");
* {
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
}

body nav {
  width: 100%;
  color: white;
}

body nav ul {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  background: #d83828;
}

body nav ul a {
  text-decoration: none;
  color: white;
}

body .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #262626;
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  aspect-ratio: 1;
  border: none;
  outline: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.title {
  color: #d83828;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0.5rem;
  background: #f7d8d5;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.title.link {
  margin-left: auto;
  margin-right: 7rem;
  text-decoration: none;
}

.dashed,
.point,
.shaded,
.main {
  aspect-ratio: 1;
  border-radius: 50%;
}

.dashed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed #d83828;
  height: 75vh;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .dashed {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.dashed .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d83828;
  height: 25vh;
  position: absolute;
  z-index: 1;
}

.dashed .point:first-child {
  top: -10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dashed .point:nth-child(2) {
  left: -10vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashed .point:nth-child(3) {
  bottom: -10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dashed .point:nth-child(4) {
  right: -10vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashed .shaded {
  height: 60vh;
  background: #f7d8d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}

.dashed .shaded::after {
  content: "";
  background: white;
  z-index: 1;
  border-top-right-radius: 100%;
  height: 30vh;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.dashed .shaded .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  background: #d83828;
  z-index: 2;
  font-size: 2rem;
}

.fourps {
  margin: 4rem 0;
}

.inputs {
  margin-top: 2rem;
  padding: 2rem;
}

input {
  padding: 1rem;
  font: inherit;
  border-radius: 1rem;
  width: 5rem;
  margin-top: 3rem;
}

.text {
  margin: 1rem 0;
  color: #d83828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87%;
}

.text .p:not(:first-child) {
  margin-left: 19%;
}

@media only screen and (max-width: 768px) {
  .text .p:not(:first-child) {
    margin-left: 5%;
  }
}

.bar {
  margin: 0rem 4rem 4rem 4rem;
  border-radius: 10000rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.15)), color-stop(rgba(255, 255, 0, 0.15)), to(rgba(10, 233, 10, 0.15)));
  background: linear-gradient(to right, rgba(255, 0, 0, 0.15), rgba(255, 255, 0, 0.15), rgba(10, 233, 10, 0.15));
  z-index: 1;
  width: 90%;
  height: 3rem;
  position: relative;
}

.bar .progress {
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background: linear-gradient(to right, red, orange);
  opacity: 1;
  z-index: 2;
  border-radius: 10000rem;
}

section {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr 3fr;
      grid-template-columns: 1fr 4fr 1fr 3fr;
  margin: 0 2rem;
  gap: 2rem;
  border-bottom: 1px solid #d83828;
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section .title {
  width: 10vw;
}

@media only screen and (max-width: 768px) {
  section .title {
    width: unset;
  }
}

section .title,
section .total,
section .comments {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section .items .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section .items .item input {
  padding: 0.5rem;
}

section .comments textarea {
  resize: none;
  outline: none;
  background: #f7d8d5;
  color: #d83828;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  font: inherit;
  font-weight: 400;
}
/*# sourceMappingURL=App.css.map */